#! armcc -E
/*******************************************************************************
* BlueNRG-1 generic linker file for KEIL
* Main linker variables to control it are:
*
* MEMORY_FLASH_APP_SIZE: define the size of the application in case not all the flash is needed.
* Default value is: 156KB when no OTA firmware upgrade is supported
* 
* ST_OTA_HIGHER_APPLICATION: When defined application is built for OTA support
* in the higher part of memory
*
* ST_OTA_LOWER_APPLICATION: When defined application is built for OTA support
* in the lower part of memory
*
* ST_USE_OTA_SERVICE_MANAGER_APPLICATION: When defined application is built for
* OTA firmware upgrade support with separated application for firmware upgrade
*
*******************************************************************************/

/*******************************************************************************
* Memory Definitions
*******************************************************************************/
/*
BlueNRG-1 memory map
+-----------------------+ 0x20005FFF
|  RAM (24K)            |
+-----------------------+ 0x20000000
|                       |
|                       |
+-----------------------+ 0x10067FFF
|                       |
|  FLASH (160K)         |
+-----------------------+ 0x10040000
|                       |
+-----------------------| 0x100007FF
|   ROM (2K)            |
+-----------------------+ 0x10000000
*/

#define _MEMORY_RAM_BEGIN_    0x20000000 
#define _MEMORY_RAM_SIZE_     0x6000           /* 24KB  */
#define _MEMORY_RAM_END_      0x20005FFF 

#define _MEMORY_FLASH_BEGIN_  0x10040000  
#define _MEMORY_FLASH_SIZE_   0x28000          /* 160KB */ 
#define _MEMORY_FLASH_END_    0x10067FFF  

#define _MEMORY_ROM_BEGIN_    0x10000000    
#define _MEMORY_ROM_SIZE_     0x800             /* 2KB */ 
#define _MEMORY_ROM_END_      0x100007FF  

/* First RAM 32 bit word is reserved for interrupt vector remapping: Second RAM 32 bit word is reserved for jumping to OTA Service Manager */
#define RAM_RESERVED           8

/* Reserved for BTLE stack non volatile memory */
#define FLASH_NVM_DATASIZE     (4*1024)


#ifdef ST_OTA_HIGHER_APPLICATION
  /* This configuration is intended for application supporting OTA firmware upgrade with 2-app scheme (app in the upper part of memory map) */
  /*
     BlueNRG-1 higher OTA firmware upgrade support higher application memory map
     +-----------------------+ 0x20005FFF
     |  RAM (24K-4)          |
     +-----------------------+ 0x20000004
     |                       |
     |                       |
     +-----------------------+ 0x10068000
     |                       |
     |  NVM(6K)              |
     +-----------------------+ 0x10066800
     |                       |
     |  Higher app (76K)     |
     +-----------------------+ 0x10053800
     |                       |
     |  Lower app (76K)      |
     +-----------------------| 0x10040800
     |   Reset Manager (2K)  |
     +-----------------------+ 0x10040000
     |                       |
     +-----------------------| 0x100007FF
     |   ROM (2K)            |
     +-----------------------+ 0x10000000
  */


#define RESET_MANAGER_SIZE     0x800
#define MEMORY_FLASH_APP_SIZE  (_MEMORY_FLASH_SIZE_ - RESET_MANAGER_SIZE - FLASH_NVM_DATASIZE - 2048)/2
#define _MEMORY_FLASH_OFFSET_  (RESET_MANAGER_SIZE + MEMORY_FLASH_APP_SIZE)

#else
#ifdef ST_OTA_LOWER_APPLICATION
  /* This configuration is intended for application supporting OTA firmware upgrade with 2-app scheme (app in the lower part of memory map) */
  /*
     BlueNRG-1 higher OTA firmware upgrade support lower application memory map
     +-----------------------+ 0x20005FFF
     |  RAM (24K-4)          |
     +-----------------------+ 0x20000004
     |                       |
     |                       |
     +-----------------------+ 0x10068000
     |                       |
     |  NVM(6K)              |
     +-----------------------+ 0x10066800
     |                       |
     |  Higher app (76K)     |
     +-----------------------+ 0x10053800
     |                       |
     |  Lower app (76K)      |
     +-----------------------| 0x10040800
     |   Reset Manager (2K)  |
     +-----------------------+ 0x10040000
     |                       |
     +-----------------------| 0x100007FF
     |   ROM (2K)            |
     +-----------------------+ 0x10000000
  */

#define RESET_MANAGER_SIZE     0x800
#define MEMORY_FLASH_APP_SIZE  (_MEMORY_FLASH_SIZE_ - RESET_MANAGER_SIZE - FLASH_NVM_DATASIZE - 2048)/2
#define _MEMORY_FLASH_OFFSET_  (RESET_MANAGER_SIZE)

#else
#ifdef ST_USE_OTA_SERVICE_MANAGER_APPLICATION
  /* This configuration is intended for application supporting OTA firmware upgrade with independent OTA firmware upgrade service manager
  (app in the upper part of memory map) */
  /*
     BlueNRG-1 higher OTA firmware upgrade support higher application memory map
     +-----------------------+ 0x20005FFF
     |  RAM (24K-4)          |
     +-----------------------+ 0x20000004
     |                       |
     |                       |
     +-----------------------+ 0x10068000
     |                       |
     |  NVM(4K)              |
     +-----------------------+ 0x10067000
     |                       |
     |  User app (98K)       |
     +-----------------------+ 0x1004E800
     | Reset Manager (2K)    |
     | + OTA S. Manager (56K)|
     +-----------------------+ 0x10040000
     |                       |
     +-----------------------| 0x100007FF
     |   ROM (2K)            |
     +-----------------------+ 0x10000000
  */

 /* Including OTA firmware upgrade service manager application */
#define RESET_SM_MANAGER_SIZE     0xE800

#define MEMORY_FLASH_APP_SIZE  (_MEMORY_FLASH_SIZE_ - RESET_SM_MANAGER_SIZE - FLASH_NVM_DATASIZE)
#define _MEMORY_FLASH_OFFSET_  (RESET_SM_MANAGER_SIZE)

#else
  /* This configuration is intended for application not supporting OTA firmware upgrade */
  /*
  BlueNRG-1 standard application memory map
  +-----------------------+ 0x20005FFF
  |  RAM (24K)            |
  +-----------------------+ 0x20000000
  |                       |
  |                       |
  +-----------------------+ 0x10068000
  |                       |
  |  NVM(4K)              |
  +-----------------------+ 0x10067000
  |                       |
  |  User app (156K)      |
  +-----------------------+ 0x10040000
  |                       |
  +-----------------------| 0x100007FF
  |   ROM (2K)            |
  +-----------------------+ 0x10000000
*/

#ifndef MEMORY_FLASH_APP_SIZE
#define MEMORY_FLASH_APP_SIZE  (_MEMORY_FLASH_SIZE_ - FLASH_NVM_DATASIZE)
#endif
  
#define _MEMORY_FLASH_OFFSET_  (0)

#endif
#endif
#endif
  

LR_IROM1 (_MEMORY_FLASH_BEGIN_+_MEMORY_FLASH_OFFSET_) _MEMORY_FLASH_SIZE_  {    ; load region size_region
  REGION_FLASH (_MEMORY_FLASH_BEGIN_ + _MEMORY_FLASH_OFFSET_) (MEMORY_FLASH_APP_SIZE-1)  {  ; load address = execution address
   *.o (.intvec, +First)
   *(InRoot$$Sections)
   .ANY (+RO)
  }
  BLOCK_STACKLIB_FLASH_DATA (_MEMORY_FLASH_END_- FLASH_NVM_DATASIZE + 1) UNINIT ALIGN 2048 FLASH_NVM_DATASIZE  {
  *.o (.noinit.stacklib_flash_data)
  *.o (.noinit.stacklib_stored_device_id_data)
  }
  REGION_RAM_RESERVED _MEMORY_RAM_BEGIN_ EMPTY RAM_RESERVED  { }
  REGION_RAM1 (_MEMORY_RAM_BEGIN_ + RAM_RESERVED) (0xC0 - RAM_RESERVED) {  ; RW data
   .ANY (+RW, +BSS)
  }
  BLUE 0x200000C0 0x20C {
  *.o (.bss.__blue_RAM)
  }
  REGION_RAM2 (_MEMORY_RAM_BEGIN_ + 0x2CC) (_MEMORY_RAM_SIZE_ - 0x2CC) {  ; RW data
   .ANY (+RW, +BSS)
  }
  REGION_ROM _MEMORY_ROM_BEGIN_ EMPTY _MEMORY_ROM_SIZE_  { }
  ARM_LIB_STACKHEAP (_MEMORY_RAM_END_+1) EMPTY -0xC00 { }
}
